---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import Footer from "@/sections/Footer.astro";
import Sponsors from "@/sections/Sponsors.astro";
import PrincipalDate from "@/sections/PrincipalDate.astro";
---

<Layout description="Web de la velada del Año IV" title="La velada IV">
  <Hero />
  <main>
    <PrincipalDate />
    <Sponsors />
    <!-- <Info /> -->
    <!-- <Countdown /> -->
  </main>
  <Footer />
</Layout>
