<div id="smoke-bg" class="fixed top-0 h-full w-full"></div>

<script>
  import * as THREE from "three";
  const $bkg = document.getElementById("smoke-bg");
  const w = window.innerWidth;
  const h = window.innerHeight;

  //inicializar three.js

  //escena
  const scene = new THREE.Scene();

  //camara
  const camera = new THREE.PerspectiveCamera(75, w / h, 1, 1000);
</script>
