---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col justify-center items-center">
  <HeroLogo
    class="h-auto w-[250px] animate-fade-in-up overflow-visible md:w-[500px] text-primary dark:text-white"
  />
</section>
