---
import TwitchIcon from "@/icons/twitch.astro";
---

<section class="flex font-medium text-primary gap-y-10 my-32 flex-col">
  <div class="flex justify-center items-center">
    <a
      href="https://twitch.tv/ibai"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:scale-125 hover:opacity-70 transition inline-block"
    >
      <TwitchIcon />
    </a>
  </div>
  <div
    class="flex flex-col md:flex-row md:grid-cols-4 uppercase text-center gap-x-10"
  >
    <article
      class="order-2 md:order-none flex justify-center items-center text-xl md:py-20 py-10 px-10 border-y-2 border-primary"
    >
      <h5 class="w-56 text-center">
        Presentación, Pesaje, Entrevista y Cara a Cara
      </h5>
    </article>
    <article
      class="order-1 md:order-none border-t-2 col-span-2 flex justify-center items-center text-4xl py-10 md:py-20 px-10 md:border-y-2 border-primary"
    >
      <h4>
        <a
          class="hover:text-purple-800 transition hover:scale-110 inline-block"
          href="https://twitch.tv/ibai"
          target="_blank"
          rel="noopener noreferrer"
        >
          Siguelo en directo en twitch.tv/ibai
        </a>
      </h4>
    </article>
    <article
      class="order-3 md:order-none flex justify-center items-center text-xl py-10 md:py-20 px-10 border-b-2 md:border-y-2 border-primary"
    >
      <h5>Con la presencia de los boxeadores y las boxeadoras</h5>
    </article>
  </div>
</section>
