---
import TwitchIcon from "@/icons/twitch.astro";
---

<section class="flex font-medium text-primary gap-y-10 my-32 flex-col">
  <div class="flex justify-center items-center">
    <a
      href="https://twitch.tv/ibai"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:scale-125 hover:opacity-70 transition inline-block"
    >
      <TwitchIcon class="twitch" />
    </a>
  </div>
  <div
    class="grid [grid-template-columns:1fr] uppercase text-center gap-x-10 md:[grid-template-columns:1fr_1.5fr_1fr]"
  >
    <article
      class="order-2 md:order-none md:flex-grow flex justify-center items-center text-xl md:py-12 lg:py-20 py-10 px-10 border-y-2 border-primary"
    >
      <h5 class="w-56 text-center">
        Presentación, Pesaje, Entrevista y Cara a Cara
      </h5>
    </article>
    <article
      class="order-1 md:order-none md:flex-1 border-t-2 flex justify-center items-center text-4xl py-10 md:py-12 lg:py-20 px-10 md:border-y-2 border-primary"
    >
      <h4>
        <a
          class="hover:text-twitch transition hover:scale-110 inline-block"
          href="https://twitch.tv/ibai"
          target="_blank"
          rel="noopener noreferrer"
        >
          Siguelo en directo en twitch.tv/ibai
        </a>
      </h4>
    </article>
    <article
      class="order-3 md:order-none flex justify-center items-center text-xl py-10 md:py-12 lg:py-20 px-10 border-b-2 md:border-y-2 border-primary"
    >
      <h5>Con la presencia de los boxeadores y las boxeadoras</h5>
    </article>
  </div>
</section>

<style>
  .twitch {
    view-timeline-name: --twitch;
    view-timeline-axis: block;

    animation-timeline: --twitch;
    animation-name: show;
  }

  @keyframes shoe {
    to {
      color: purple;
    }
  }
</style>
