---
import { SPONSORS } from "@/consts/sponsors";
---

<section class="my-40">
  <h3 class="text-white text-3xl font-bold uppercase text-center">
    Patrocinadores
  </h3>
  <p class="mt-4 text-xl text-neutral-300 text-center">
    La Velada puede llevarse a cabo gracias a la colaboración de ...
  </p>

  <div class="grid grid-cols-2 md:grid-cols-3 gap-8 mt-12">
    {
      SPONSORS.map(({ id, name, url }) => (
        <a
          class="group flex h-24 justify-center items-center md:h-32 bg-gradient-to-b from-white/10 via-transparent to-transparent hover:from-white/20  "
          title={`Visita la Página del patrocinador ${name}`}
          href={url}
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            loading="lazy"
            src={`/img/sponsors/${id}.svg`}
            alt={`Logo del patrocinador ${name}`}
            class="h-auto w-32 transition group-hover:scale-110"
          />
        </a>
      ))
    }
  </div>
</section>
