---
const SPONSORS = [
  {
    id: "alsa",
    name: "Alsa",
    url: "https://alsa.es",
  },
];
---

<section class="my-40">
  <h3 class="text-white text-5xl font-bold uppercase">Patrocinadores</h3>
  <p class="mt-4">
    La Velada puede llevarse a cabo gracias a la colaboración de ...
  </p>
</section>
